html, body {
    height:100%;
    width:100%;
    background-color: #050907;
}

body, * {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Ubuntu Mono', monospace;
    outline: 0;
}

#app {
    position:absolute;
    top:102px;
    bottom:51px;
    left:0;
    right:0;
    overflow:auto;
}

.blured {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
@media (max-width: 767px) {
    #app {
        top: 61px;
    }
}

